<!DOCTYPE html>
<html>
  <head>
    <title>Console</title>
  </head>
  <body>
    <h1>Incoming requests</h1>
    <ul>
      <% requests.forEach(function(request) { %>
      <li><%= request %></li>
      <% }); %>
    </ul>
  </body>
</html>
